/* line 2, ../../../app/stylesheets/text/header.sass */
#header #name {
  font: bold 3em Helvetica;
  color: black;
}
/* line 6, ../../../app/stylesheets/text/header.sass */
#header #menu ul {
  list-style: none;
  display: block;
  margin: 0 10px;
  color: #FC4C00;
}
/* line 11, ../../../app/stylesheets/text/header.sass */
#header #menu ul li {
  float: left;
  margin: 0 1.5em;
  font: bold 0.9em Helvetica;
  color: #FC4C00;
}
/* line 16, ../../../app/stylesheets/text/header.sass */
#header #motto {
  font: 1em Helvetica;
  color: #FC4C00;
}
