/* line 1, ../../../app/stylesheets/text/headers.sass */
h2 {
  color: #FC4C00;
}

/* line 3, ../../../app/stylesheets/text/headers.sass */
h3 {
  color: #FC4C00;
}

/* line 5, ../../../app/stylesheets/text/headers.sass */
h4 {
  color: #FC4C00;
}
