#services
  #content
    %h2 Usługi
    %h3
      Naszym klientom oferujemy usługi z zakresu wielu rodzajów wykopalisk. Wykorzystajcie nas!
    #overview
      %h4 Opis maszyny
      %p
        Naszą maszyną jest Turbo-Dyno-Wykopywacz
        %ul
          %li Ramię w górę
          %li Ramię w dół
          %li Nawet na boki!
          %li Wąskie wymiary
          %li Super masynista!!!
    #details
      %h4 Wykopy pod funtamenty
      %p
        Jakiś sensowny opis tej usługi, wraz z dodatkowymi rzeczami jakie robisz! Jakiś sensowny opis tej usługi, wraz z dodatkowymi rzeczami jakie robisz!
        Jakiś sensowny opis tej usługi, wraz z dodatkowymi rzeczami jakie robisz! Jakiś sensowny opis tej usługi, wraz z dodatkowymi rzeczami jakie robisz!
        Jakiś sensowny opis tej usługi, wraz z dodatkowymi rzeczami jakie robisz! Jakiś sensowny opis tej usługi, wraz z dodatkowymi rzeczami jakie robisz!
        Jakiś sensowny opis tej usługi, wraz z dodatkowymi rzeczami jakie robisz! Jakiś sensowny opis tej usługi, wraz z dodatkowymi rzeczami jakie robisz!
      %h4 WOD-KAN i CO
      %p
        Jakiś sensowny opis tej usługi, wraz z dodatkowymi rzeczami jakie robisz! Jakiś sensowny opis tej usługi, wraz z dodatkowymi rzeczami jakie robisz!
        Jakiś sensowny opis tej usługi, wraz z dodatkowymi rzeczami jakie robisz! 
        Jakiś sensowny opis tej usługi, wraz z dodatkowymi rzeczami jakie robisz! Jakiś sensowny opis tej usługi, wraz z dodatkowymi rzeczami jakie robisz!
      %h4 Ogrodzenia, itd.
      %p
        Jakiś sensowny opis tej usługi, wraz z dodatkowymi rzeczami jakie robisz!
      %h4 Konsultacje
      %p
        Jakiś sensowny opis tej usługi, wraz z dodatkowymi rzeczami jakie robisz!
  .clear

