<div id="services">
  <div id="content">
    <h2>Usługi</h2>
    <h3>
      Naszym klientom oferujemy usługi z zakresu pracy miniKoparki oraz transportu. Zapraszamy!
    </h3>
    <div id="overview">
      <h4>Usługi minikoparką</h4>
      <p>
       dane techniczne: 
      </p>  
        <ul>
          <li>szerokość łyżek : 25cm, 40cm, 100cm - skarpówka</li>
          <li>głębokość kopania: do 230cm</li>
          <li>wysokość koparki: 230cm</li>
          <li>szerokość koparki: 100cm</li>
        </ul>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <h5>Usługi transportowe: od 1zł/KM</h5>
      <p>
       dane techniczne powierzchni transportowej: 
      </p>  
        <ul>
          <li>długość: 233cm</li>
          <li>szerokość: 160cm</li>
          <li>wysokość: 137cm</li>
          <li>szerokość w nadkolach: 121cm</li>
        </ul>
      <div class="vertical_spacer"></div> 
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <p>
       dane techniczne powierzchni transportowej: 
      </p>  
        <ul>
          <li>długość: 167cm</li>
          <li>szerokość: 147cm</li>
          <li>wysokość: 130cm</li>
        </ul>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <p>
       dane techniczne powierzchni transportowej: 
      </p>  
        <ul>
          <li>długość: 260cm</li>
          <li>szerokość: 128cm</li>
          <li>burta: 20cm</li>
        </ul>
    </div>
    <div id="details">
      <h4>Schaeff HR 12</h4>
      <p>
        Maszyna świetnie nadająca się do szybkich prac przebudowy lub wywozu ziemi. Jej niewielkie rozmiary umożliwiają pracę w miejscach niedostępnych
        dla ciężkiego sprzętu. Natomiast 230cm zanurzenie ramienia poszerza zakres jej możliwości w nietypowych warunkach 
        (<a href="../images/services/wykop18.jpg" rel="facebox">zob. zdjęcie</a>). Ponieważ lubimy wyzwania, z chęcią podejmujemy się najbardziej nietypowych
        zleceń (<a href="../images/services/wykop17.jpg" rel="facebox">zob.zdjęcie</a>).
      <h4>
        Godzina pracy koparki: 55zł netto /\ 
        Transport do klienta: ok 1zł/km</p>
      </h4>
      </p>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <h4>Mercedes VITO</h4>
      <p>
        Świetnie nadający się do przewozu dużych gabarytów. Rozbudowana przestrzeń z opcją zmiany ilości siedzisk pozwala szybko dostosować się do warunków
        zlecenia. Dzięki sprawnej mocy silnika i dużej ładowności pozwala zaoszczędzić sporo czasu, stanowczo zmniejszając ilość docelowych kursów.
      </p>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <h4>Fiat DOBLO</h4>
      <p>
        Cargo najlepsze w swojej klasie. Idealny do szybkich transportów, kiedy szczególnie zależy nam na czasie. Samochód dostosowany do przewozu zarówno materiałów
        bardzo delikatnych jak i materiałów budowlanych. Możliwość zabrania dodatkowego pasażera. Wersja z dodatkowymi bocznymi drzwiami pozwala na wykonanie
        większej ilości manewrów oraz dokładnego wykorzystania powierzchni załadunkowej.
      </p>
      <h4>Przyczepa Brenderup</h4>
      <p>
        Do przewozu : minikoparki, miniładowarki oraz innego sprzętu mieszczącego się na powierzchni transportowej. Dzięki dodatkowemu stelarzowi pozwala także na
        przewóz materiałów budowlanych oraz innych towarów o łącznym ciężarze nie przekraczającym 1,7 T. 
      </p>
    </div>
  </div> 
  <div class="clear"></div>
</div>
