<div id="services">
  <div id="content">
    <h2>Usługi</h2>
    <h3>
      Naszym klientom oferujemy usługi miniKoparką oraz usługi transportowe. Zapraszamy!
    </h3>
    <div id="overview">
      <h4>Usługi minikoparką</h4>
      <p>
       dane techniczne: 
      </p>  
        <ul>
          <li>szerokość łyżek : 25cm, 40cm, 100cm - skarpówka</li>
          <li>głębokość kopania: do 230cm</li>
          <li>wysokość koparki: 230cm</li>
          <li>szerokość koparki: 100cm</li>
        </ul>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <h5>Krajowe usługi transportowe: od 1zł/km</h5>
      <p>
       dane techniczne powierzchni transportowej: 
      </p>  
        <ul>
          <li>długość: 233cm</li>
          <li>szerokość: 160cm</li>
          <li>wysokość: 137cm</li>
          <li>szerokość w nadkolach: 121cm</li>
        </ul>
      <div class="vertical_spacer"></div> 
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <p>
       dane techniczne powierzchni transportowej: 
      </p>  
        <ul>
          <li>długość: 167cm</li>
          <li>szerokość: 147cm</li>
          <li>wysokość: 130cm</li>
        </ul>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <p>
       dane techniczne powierzchni transportowej: 
      </p>  
        <ul>
          <li>długość: 260cm</li>
          <li>szerokość: 128cm</li>
          <li>burta: 20cm</li>
        </ul>
    </div>
    <div id="details">
      <h4>Schaeff HR 12</h4>
      <p>
      Minikoparka to szybki i tani sposób na wykonywanie wszelkiego rodzaju prac ziemnych. Dzięki niewielkiej  wadze i wymiarach pozwala na wykonywanie prac w trudno dostępnych miejscach o ograniczonej przestrzeni. A nawet wewnątrz hal czy budynków. Dzięki gumowym gąsienicą można pracować w ciężkim terenie (nie dostępnym dla większych maszyn). Idealnie sprawdza się podczas pracy w terenie wrażliwym na uszkodzenia. Nie powoduje zniszczenia powierzchni trawników czy ogrodów. Dzięki temu, że jest to maszyna pełnoobrotowa i wyposażona w skrętne ramie umożliwia swobodne odsypywanie urobku. A także możliwość kopania przy samej ścianie czy ogrodzeniu. Przedni lemiesz koparki oraz zamontowanie łyżki skarpowej idealnie nadają się do zasypywania, zgarniania urobku oraz wyrównania lub ukształtowania terenu.</p>
      <p> Zajmujemy się kompleksowym wykonywaniem przyłączy wodno-kanalizacyjnych, systemów odwodnienia. Realizujemy wszystkie etapy prac :wykonywanie projektu, prace ziemne, podłączenia do wodociągu/kanału, prace montażowe, odbiór. Ponieważ lubimy wyzwania, z chęcią podejmujemy się najbardziej nietypowych zleceń. Zapraszamy do naszej <%= link_to 'Galerii', gallery_path %>.
      <h4>
        Godzina pracy koparki: 55zł netto /\ 
        Transport do klienta: ok 1zł/km</p>
      </h4>
      </p>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <h4>Mercedes VITO</h4>
      <p>
        Idealnie nadaje się do przewozu większych gabarytów. Posiada mocny sprawny silnik co ułatwia transport towarów o masie do 630 kg. Posiada hak umożliwiający ciągnięcie przyczepy o masie do 2t DMC.
      </p>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <h4>Fiat DOBLO</h4>
      <p>
        Cargo najlepsze w swojej klasie. Idealny do szybkich transportów mniejszych ładunków o masie do 620kg.
        </p>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <div class="vertical_spacer"></div>
      <h4>Przyczepa Brenderup</h4>
      <p>
        Do przewozu minikoparki, miniładowarki oraz innego sprzętu mieszczącago sie na powierzchni transportowej. Dobrze sprawdza się do przewozu materjałów budowlanych oraz innych towarów. O masie nie przekraczającej 1,7t. 
      </p>
    </div>
  </div> 
  <div class="clear"></div>
</div>
