<div id="services">
  <div id="content">
    <div id="overview">
      <div class="spacer_0"></div>
      <%= image_tag "../images/hr12.jpg"%>
      <p>
      <b>dane techniczne:</b> 
      </p>  
        <ul>
          <li>szerokość łyżek : 25cm, 40cm, 100cm - skarpówka</li>
          <li>głębokość kopania: do 230cm</li>
          <li>wysokość koparki: 230cm</li>
          <li>szerokość koparki: 100cm</li>
        </ul> 
    </div>
    <div id="details">
      <h4>Schaeff HR12</h4>
      <p>
      Minikoparka to szybki i tani sposób na wykonywanie wszelkiego rodzaju prac ziemnych. Dzięki niewielkiej  wadze i wymiarach pozwala na wykonywanie prac w trudno dostępnych miejscach o ograniczonej przestrzeni. A nawet wewnątrz hal czy budynków. Dzięki gumowym gąsienicą można pracować w ciężkim terenie (nie dostępnym dla większych maszyn). Idealnie sprawdza się podczas pracy w terenie wrażliwym na uszkodzenia. Nie powoduje zniszczenia powierzchni trawników czy ogrodów. Dzięki temu, że jest to maszyna pełnoobrotowa i wyposażona w skrętne ramie umożliwia swobodne odsypywanie urobku. A także możliwość kopania przy samej ścianie czy ogrodzeniu. Przedni lemiesz koparki oraz zamontowanie łyżki skarpowej idealnie nadają się do zasypywania, zgarniania urobku oraz wyrównania lub ukształtowania terenu.</p>
      <p> Zajmujemy się kompleksowym wykonywaniem przyłączy wodno-kanalizacyjnych, systemów odwodnienia. Realizujemy wszystkie etapy prac :wykonywanie projektu, prace ziemne, podłączenia do wodociągu/kanału, prace montażowe, odbiór. Ponieważ lubimy wyzwania, z chęcią podejmujemy się najbardziej nietypowych zleceń. Zapraszamy do naszej <%= link_to 'Galerii', gallery_path %>.</p>
      <h4>
        <dd>Godzina pracy koparki: 55zl netto 
        <dd>Transport do klienta: ok 1zl/km
      </h4>
      <h6>Orientacyjny zakres uslug:</h6>
      <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.pl/maps?ie=UTF8&amp;ll=50.63901,19.220581&amp;spn=1.219337,2.334595&amp;z=8&amp;output=embed"></iframe><br /><small><a href="http://maps.google.pl/maps?ie=UTF8&amp;ll=50.63901,19.220581&amp;spn=1.219337,2.334595&amp;z=8&amp;source=embed" style="color:#0000FF;text-align:left">Wyświetl większą mapę</a></small>
    </div>
  </div> 
  <div class="clear"></div>
</div>
