<div id="services">
  <div id="content">
    <h4>Krajowe usługi transportowe: od 1zł/km</h4>
    <div id="overview">
      <div class="spacer_0"></div>
      <%= image_tag "../images/vito.jpg"%>
      <div class="spacer_1"></div>
      <%= image_tag "../images/doblo.jpg"%>
      <div class="spacer_2"></div>
      <%= image_tag "../images/trail.jpg"%>
    </div>
    <div id="details">
      <h4>Mercedes VITO</h4>
      <p>
      Idealnie nadaje się do przewozu większych gabarytów. Posiada mocny sprawny silnik co ułatwia transport towarów o masie do 630 kg. 
      Posiada hak umożliwiający ciągnięcie przyczepy o masie do 2t DMC.
        <dl>
          <dt>dane techniczne powierzchni transportowej:
          <dd>długość: 233cm
          <dd>szerokość: 160cm
          <dd>wysokość: 137cm
          <dd>szerokość w nadkolach: 121cm
        </dl>

      <h4>Fiat DOBLO</h4>
      <p>
        Cargo najlepsze w swojej klasie. Idealny do szybkich transportów mniejszych ładunków o masie do 620kg.
        <dl>
          <dt>dane techniczne powierzchni transportowej: 
          <dd>długość: 167cm
          <dd>szerokość: 147cm
          <dd>wysokość: 130cm
        </dl>
      <h4>Przyczepa Brenderup</h4>
      <p>
      Do przewozu minikoparki, miniładowarki oraz innego sprzętu mieszczącago sie na powierzchni transportowej. 
      Dobrze sprawdza się do przewozu materjałów budowlanych oraz innych towarów. O masie nie przekraczającej 1,7t. 
        <dl>
          <dt>dane techniczne powierzchni transportowej: 
          <dd>długość: 260cm
          <dd>szerokość: 128cm
          <dd>burta: 20cm
    </div>
  </div> 
  <div class="clear"></div>
</div>
