<div id='people'>
  <div id='content'>
    <div id='image'>
      <img src="/images/../images/flota.jpg" />
    </div>
    <div id='overview'>
      <h2>oferujemy:</h2>
      <p>
       koparka: <b>Schaeff HR12</b>       
      </p>
        <ul>
          <li><b>przyłącza WOD-KAN</b></li>
        </ul>
      <p>Wykopy pod:</p>
        <ul>
          <li>kable, światłowody</li>
          <li>instalacje wodne</li>
          <li>instalacje - kanalizacyjne, gazowe</li>
          <li>szamba</li>
          <li>przydomowe oczyszczalnie ścieków</li>
          <li>ławy fundamentowe</li>
          <li>oczka wodne</li>
          <li>gruntowe wymienniki ciepła</li>
          <li>rowy melioracyjne</li>
          <li>drenaże</li>
          <li>korytowanie pod kostkę</li>
          <li>niwelacje terenu</li>
          <li>kształtowanie terenu</li>
          <li>załadunek</li>
        </ul>
        <%= link_to "więcej...", services_path %>
      </p> 
    </div>
    <div id='details'>
      <h6>Usługi transportowe</h6>
      <div class='description'>
        <dl>
          <dt> dostępne pojazdy:
          <dd> Mecedes Vito
          <dd> Fiat Doblo
          <dd> przyczepa Brenderup
          <dd> <%=link_to "więcej...", transport_path %>
      </div>    
    </div>
    <div id='details'>
      <h4>Kontakt</h4>
      <div class='description'>
        <dl>
          <dt> Osoba kontaktowa:
          <dd> Bartosz Cierpiał
          <dt> Adres:
          <dd> 42-262 Nierada k. Częstochowy, 
          <dd> ul Targowa 164
          <dt> Telefon:
          <dd> +48 606 64 66 10
          <dt> Email:
          <dd> biuro@budkop.czest.pl
      </div>
    </div>
  </div>
  <div class='clear'></div>
</div>
