#people
  #content
    %h2 O nas
    #image
      = image_tag('../images/digger.jpg') 
    #overview
      %h4 Jak działamy 
      %p
        Jesteśmy firmą z kilkuletnim stażem.
        Potrafimy wjechać wszędzie.
        Wykonujemy usługi z zakresu:
        %ul
          %li WOD-KAN
          %li Przyłącza
          %li Fundamenty
          %li Ogrodzenia
          %li Okopy wojenne
          %li Sidła i zasieki kłusownicze
          %li ...
    #details
      %h4 Nasi ludzie
      .user
        .avatar
          = image_tag User.new(:email => 'hash4di@gmail.com').gravatar_url
        .description
          %dl
            %dt Imię
            %dd Bartek
            %dt Działania:
            %dd obsługa maszyny, szef operacji
            %dt Opis:
            %dd
              Chętnie doradzę, podpowiem a nawet zrobie. Jako główna siła napędowa firmy.
              Nie umywam się od długiego spania i leniuchowania.
              Mam dziewczynę i niczego sobie nie żałuję.
  .clear
