<div id='people'>
  <div id='content'>
    <h2></h2>
    <img alt="Flota" src="/images/../images/flota.png?1291979276" />
    <div id='overview'>
      <h4>Usługi miniKoparką</h4>
      <p>
        Jesteśmy firmą z kilkuletnim stażem.
        Potrafimy wjechać wszędzie.
        Wykonujemy usługi z zakresu:
        <ul>
          <li>WOD-KAN</li>
          <li>Przyłącza</li>
          <li>Fundamenty</li>
          <li>Ogrodzenia</li>
          <li>Okopy wojenne</li>
          <li>Sidła i zasieki kłusownicze</li>
          <li>...</li>
        </ul>
      </p>
      </div>
    <div id='details'>
      <h4>Usługi transportowe</h4>
      <div class='description'>
        <dl>
          <dt>Dostępne pojazdy:</dt>
          <dd>minivan, cargo, przyczepa</dd>
          <dt>Zakres usług:</dt>
          <dd>opis opis opis opis opis opis opis opis</dd>
          <dt>Opis:</dt>
          <dd>
            Chętnie doradzę, podpowiem a nawet zrobie. Jako główna siła napędowa firmy.
            Nie umywam się od długiego spania i leniuchowania.
            Mam dziewczynę i niczego sobie nie żałuję.
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <div class='clear'></div>
</div>

