<div id='people'>
  <div id='content'>
    <h2></h2>
    <img alt="Flota" src="/images/../images/flota.png" />
    <div id='overview'>
      <h2>Usługi miniKoparką</h2>
      <p>
      dysponujemy minikoparką marki <b>Schaeff HR12</b>
        specjalizujemy się w usługach wykopu typu:
      </p>
        <ul>
          <li><b>przyłącza WOD-KAN</b></li>
          <li>fundamenty</li>
          <li>ogrodzenia</li>
          <li>ogrodnicze</li>
          <li>brukarskie</li>
          <li>drogowe</li>
          <li>niestandardowe</li>
        </ul>
      <h4>Usługi transportowe</h4>
      <p>dostępne pojazdy:</p>
      <dl>
          <dt>Mercedes Vito</dt>
          <dd> </dd>
          <dt>Fiat Doblo</dt>
          <dd> </dd>
          <dt>przyczepa Brenderup</dt>
          <dd> </dd>
      </dl>
      </p> 
    </div>
    <div id='details'>
      <div class='description'>
        <h4>Orientacyjny zakres usług miniKoparką</h4>
      <img src="../images/mapa.jpg">
      </div>
    </div>
  </div>
  <div class='clear'></div>
</div>

