<div id='people'>
  <div id='content'>
    <img alt="Flota" src="/images/../images/flota.png" />
    <div id='overview'>
      <h2>Usługi miniKoparką</h2>
      <p>
      dysponujemy minikoparką marki <b>Schaeff HR12</b>
        specjalizujemy się w usługach typu:
      </p>
        <ul>
          <li><b>przyłącza WOD-KAN</b></li>
        </ul>
      <p>Wykopy pod:</p>
        <ul>
          <li>kable, światłowody</li>
          <li>instalacje wodne</li>
          <li>instalacje - kanalizacyjne, gazowe</li>
          <li>szamba</li>
          <li>przydomowe oczyszczalnie ścieków</li>
          <li>ławy fundamentowe</li>
          <li>oczka wodne</li>
          <li>gruntowe wymienniki ciepła</li>
          <li>rowy melioracyjne</li>
          <li>drenaże</li>
          <li>korytowanie pod kostkę</li>
          <li>niwelacje terenu</li>
          <li>kształtowanie terenu</li>
          <li>załadunek</li>
        </ul>
      <h4>Usługi transportowe</h4>
      <p>dostępne pojazdy:</p>
      <dl>
          <dt>Mercedes Vito</dt>
          <dd> </dd>
          <dt>Fiat Doblo</dt>
          <dd> </dd>
          <dt>przyczepa Brenderup</dt>
          <dd> </dd>
      </dl>
      </p> 
    </div>
    <div id='details'>
      <div class='description'>
        <h4>Orientacyjny zakres usług miniKoparką</h4>
      <img src="../images/mapa.jpg">
      </div>
    </div>
  </div>
  <div class='clear'></div>
</div>

