#people
  #content
    %h2
    = image_tag('../images/flota.png')
    #overview
      %h4 Usługi miniKoparką
      %p
        Jesteśmy firmą z kilkuletnim stażem.
        Potrafimy wjechać wszędzie.
        Wykonujemy usługi z zakresu:
        %ul
          %li WOD-KAN
          %li Przyłącza
          %li Fundamenty
          %li Ogrodzenia
          %li Okopy wojenne
          %li Sidła i zasieki kłusownicze
          %li ...
    #details
      %h4 Usługi transportowe
      .description
        %dl
          %dt Dostępne pojazdy:
          %dd minivan, cargo, przyczepa
          %dt Zakres usług:
          %dd opis opis opis opis opis opis opis opis 
          %dt Opis:
          %dd
            Chętnie doradzę, podpowiem a nawet zrobie. Jako główna siła napędowa firmy.
            Nie umywam się od długiego spania i leniuchowania.
            Mam dziewczynę i niczego sobie nie żałuję.
  .clear
