<div id='contact_us'> 
  <div id='content'>
    <h3>
      Czekamy na Ciebie.
      Jeśli masz pytania lub wątpliwości to chętnie doradzimy i podpowiemy.
    </h3>
    <div id='oridinary'>
      <h4>Lokalizacja</h4>
      <dt>42-262 Nierada k. Częstochowy,
      ul. Targowa 164
      <h4>Telefon</h4>
      <b>+48 606 64 66 10</b>
      <dt>(Telefon w sprawie przyłączy WOD-KAN: +48 510 218 315)
      <h4>Email</h4>
      <b>biuro@budkop.com</b>
    </div>
      </div>
  <div class='clear'></div>
  <div class='vertical_spacer'></div>
</div>

