/* line 4, ../../../app/stylesheets/text/gallery.sass */
#gallery #content #photo_gallery #litebox {
  width: auto;
  height: auto;
  background: none repeat scroll 0% 0% #222222;
  color: red;
  text-align: center;
}
/* line 10, ../../../app/stylesheets/text/gallery.sass */
#gallery #content #photo_gallery #litebox #close {
  color: red;
}
