/* line 2, ../../../app/stylesheets/text/header.sass */
#header #name {
  font: bold 3em Arial;
  color: #000000;
}
/* line 6, ../../../app/stylesheets/text/header.sass */
#header #menu ul {
  list-style: none;
  display: block;
  margin: 0 10px;
}
/* line 10, ../../../app/stylesheets/text/header.sass */
#header #menu ul li {
  background: #000000;
  float: left;
  margin: 1em 1.5em;
  font: bold 1em Helvetica;
}
/* line 15, ../../../app/stylesheets/text/header.sass */
#header #motto {
  font: 1em Arial;
  color: #000000;
}
