/* line 1, ../../../app/stylesheets/text/header.sass */
#header {
  background: black;
  margin-top: 0;
  overflow: hidden;
}
/* line 5, ../../../app/stylesheets/text/header.sass */
#header #name {
  font: bold 3em Arial;
  margin: left 20px;
}
/* line 10, ../../../app/stylesheets/text/header.sass */
#header #menu ul {
  list-style: none;
  display: block;
  margin: 8px 10px;
}
/* line 14, ../../../app/stylesheets/text/header.sass */
#header #menu ul li {
  float: left;
  margin: 1em 1.5em;
  font: bold 1em Helvetica;
}
/* line 19, ../../../app/stylesheets/text/header.sass */
#header #motto {
  font: 1em Arial;
  margin: left 20px;
}
