<div id='gallery'>
  <div id='content'>
    <h2>Galeria</h2>
    <h3>Prezentujemy galerię wykonywanych przez nas usług.</h3>
    <div id='photo_gallery'>
      <a id="ex0"><img src="../images/wykop0_m.jpg"/></a>
      <a id="ex1"><img src="../images/wykop1_m.jpg"/></a>
      <a id="ex3"><img src="../images/wykop3_m.jpg"/></a>
      <a id="ex4"><img src="../images/wykop4_m.jpg"/></a>
      <a id="ex6"><img src="../images/wykop6_m.jpg"/></a>
      <a id="ex10"><img src="../images/wykop10_m.jpg"/></a>
      <a id="ex11"><img src="../images/wykop11_m.jpg"/></a>
      <a id="ex12"><img src="../images/wykop12_m.jpg"/></a>
      <a id="ex13"><img src="../images/wykop13_m.jpg"/></a>
      <a id="ex2"><img src="../images/wykop2_m.jpg"/></a>
      <a id="ex5"><img src="../images/wykop5_m.jpg"/></a>
      <a id="ex7"><img src="../images/wykop7_m.jpg"/></a>
      <a id="ex8"><img src="../images/wykop8_m.jpg"/></a>
      <a id="ex9"><img src="../images/wykop9_m.jpg"/></a>
      <div id='litebox0'>
        <img src="../images/wykop0.jpg">
        <a id='close'>zamknij</a>
      </div>
      <div id='litebox1'>
        <img src="../images/wykop1.jpg">
        <a id='close'>zamknij</a>
      </div>
      <div id='litebox2'>
        <img src="../images/wykop2.jpg">
        <a id='close'>zamknij</a>
      </div>
      <div id='litebox3'>
        <img src="../images/wykop3.jpg">
        <a id='close'>zamknij</a>
      </div>
      <div id='litebox4'>
        <img src="../images/wykop4.jpg">
        <a id='close'>zamknij</a>
      </div>
      <div id='litebox5'>
        <img src="../images/wykop5.jpg">
        <a id='close'>zamknij</a>
      </div>
      <div id='litebox6'>
        <img src="../images/wykop6.jpg">
        <a id='close'>zamknij</a>
      </div>
      <div id='litebox7'>
        <img src="../images/wykop7.jpg">
        <a id='close'>zamknij</a>
      </div>
      <div id='litebox8'>
        <img src="../images/wykop8.jpg">
        <a id='close'>zamknij</a>
      </div>
      <div id='litebox9'>
        <img src="../images/wykop9.jpg">
        <a id='close'>zamknij</a>
      </div>
      <div id='litebox10'>
        <img src="../images/wykop10.jpg">
        <a id='close'>zamknij</a>
      </div>
      <div id='litebox11'>
        <img src="../images/wykop11.jpg">
        <a id='close'>zamknij</a>
      </div>
      <div id='litebox12'>
        <img src="../images/wykop12.jpg">
        <a id='close'>zamknij</a>
      </div>
      <div id='litebox13'>
        <img src="../images/wykop13.jpg">
        <a id='close'>zamknij</a>
      </div>      
    </div>
    <div class='vertical_spacer_3'></div>
  </div>
  <div class='clear'></div>
</div>
