<div id='gallery'>
  <div id='content'>
    <h2>Galeria</h2>
    <h3>Prezentujemy galerię wykonywanych przez nas usług.</h3>
    <div id='photo_gallery'>
      <a href="../images/services/wykop0.jpg" rel="facebox"><img src="../images/services/wykop0_m.jpg"></a>
      <a href="../images/services/wykop1.jpg" rel="facebox"><img src="../images/services/wykop1_m.jpg"></a>
      <a href="../images/services/wykop2.jpg" rel="facebox"><img src="../images/services/wykop2_m.jpg"></a>
      <a href="../images/services/wykop3.jpg" rel="facebox"><img src="../images/services/wykop3_m.jpg"></a>
      <a href="../images/services/wykop4.jpg" rel="facebox"><img src="../images/services/wykop4_m.jpg"></a>
      <a href="../images/services/wykop5.jpg" rel="facebox"><img src="../images/services/wykop5_m.jpg"></a>
      <a href="../images/services/wykop6.jpg" rel="facebox"><img src="../images/services/wykop6_m.jpg"></a>
      <a href="../images/services/wykop7.jpg" rel="facebox"><img src="../images/services/wykop7_m.jpg"></a>
      <a href="../images/services/wykop8.jpg" rel="facebox"><img src="../images/services/wykop8_m.jpg"></a>
      <a href="../images/services/wykop9.jpg" rel="facebox"><img src="../images/services/wykop9_m.jpg"></a>
      <a href="../images/services/wykop10.jpg" rel="facebox"><img src="../images/services/wykop10_m.jpg"></a>
      <a href="../images/services/wykop11.jpg" rel="facebox"><img src="../images/services/wykop11_m.jpg"></a>
      <a href="../images/services/wykop12.jpg" rel="facebox"><img src="../images/services/wykop12_m.jpg"></a>
      <a href="../images/services/wykop13.jpg" rel="facebox"><img src="../images/services/wykop13_m.jpg"></a>
    </div>
    <div class='vertical_spacer_3'></div>
  </div>
  <div class='clear'></div>
</div>
