<div id='gallery'>
  <div id='content'>
    <h2>Galeria</h2>
    <h3>Prezentujemy galerię wykonywanych przez nas usług.</h3>
    <div id='photo_gallery'>
      <a href="../images/wykop0.jpg" rel="facebox"><img src="../images/wykop0_m.jpg"></a> 
    <div class='vertical_spacer_3'></div>
  </div>
  <div class='clear'></div>
</div>
