#gallery
  #content
    %h2 Galeria
    %h3
      Prezentujemy galerię wykonywanych przez nas usług.
    #photo_gallery
      %a#ex1= image_tag('../images/photo/wykop3.jpg')
    #litebox
      %a#close x
      %a= image_tag('../images/photo/wykop6.jpg') 
    .vertical_spacer_3
  .clear
