#header
  #name Budkop
  #menu
    %ul
      %li= link_to('O NAS', people_path)
      %li= link_to('USŁUGI', services_path)
      %li= link_to('GALERIA', gallery_path)
      %li= link_to('KONTAKT', contact_us_path)
  .clear
    #motto
      Przyjedziemy... wykopiemy... pojedziemy...
.clear
