<div id='header'>
  <div id='name'>BUD-KOP</div>
  <div id='menu'>
    <ul>
      <li><a href="/people">O NAS</a></li>
      <li><a href="/services">USŁUGI</a></li>
      <li><a href="/gallery">GALERIA</a></li>
      <li><a href="/contact_us">KONTAKT</a></li>
    </ul>
  </div>
  <div class='clear'></div>
  <div id='motto'>miniKoparka i Transport.</div>
</div>

