<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title> Budkop.minikoparka</title>
    <link href="/stylesheets/grid.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/text.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="http://kernest.com/fonts/designation-bold-italic.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    <script src="http://cdn.jquerytools.org/1.2.2/tiny/jquery.tools.min.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.litebox.min.js?1260193177" type="text/javascript"></script>
    <script src="/javascripts/application.js?1291992470" type="text/javascript"></script>
    <meta name="csrf-param" content="authenticity_token"/>
    <meta name="csrf-token" content="Q3HqMvWMqoRrdzMgvTrZqiKx34+EKFstWg59anyIYuk="/>
  </head>
  <body>
    <%= render :partial => "layouts/header" %>
    <div class='vertical_spacer'></div>

    <%= yield %>

    <div class='vertical_spacer'></div>
    <%= render :partial => "layouts/footer" %>            
  </body>
</html>
